<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= title %></title>
</head>
<body>
   <form method="POST" action="/new">
      <label for="name">Name</label>
      <input id="name" name="name_field" type="text" placeholder="Terminator">
      <label for="text">Message</label>
      <input id="text" name="text_field" type="text" placeholder="Hasta la vista.">
      <button type="submit">Submit</button>
   </form>
</body>
</html>